---
layout: default
---

<div class="about-page">

  <div class="hero hero-about">
    <div class="container justify-center flex-box-1">
      <div class="flex-center">
        <div class="small-fonts">
          who we are
        </div>
        <h1 class="hero-heading">
          We’re a team of experts focused on <br>
          your brand’s growth and excited to <br>
          partner up with your business<span class="pink-dot">.</span>

        </h1>
        <div class="services-hero-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <br>
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus <br>
          magnis dis parturient montes, nascetur ridiculus mus.
        </div>
        <div class="at-your-service-content justify-center flex-box">
          <span class="at-your-service-text">Get to know us</span>
          <span class="down-arrow"><img src="assets/icons/down-chevron.svg" alt="Right Chevron" /></span>
        </div>
      </div>
    </div>
  </div>

  <div class="dark-pink-circle">

  </div>

  <div class="about-us-office-img">
    <img src="/assets/imgs/about-us-office.jpg" alt="">
  </div>

  <div class="why-choose-dd">
    <div class="why-choose-dd-content container justify-center flex-box">
      <div class="flex-center">
        <h2 class="why-choose-dd-title">Why choose Dear Digital?</h2>
        <div class="why-choose-dd-text">
          Mainstream? No, thanks. Because it's not just work, it's passion . It's not just clients, it's people. Every project we take on is important to us, and every client is a big deal. We take care of your projects, your deadlines, and your nerves no matter what, and that’s a promise. 🙏
        </div>
      </div>
    </div>

  </div>

  <div class="our-team-wrapper">
    <div class="container">
      <div class="our-team-rectangle">
        <h2 class="our-team-title">Our team of experts</h2>
        <div class="team-imgs-info flex-box">
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="assets/imgs/team.jpeg" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
        </div>
      </div>

      <div class="new-career justify-center flex-box">
        <div class="new-career-content">
          <h2 class="new-career-title">
            Are you exploring a new career? <br>
            Or on a new mission?
          </h2>
          <div class="abs-btn justify-space-bet flex-box">
            <div class="abs-btn-text">
              Discover our open jobs
            </div>
            <div class="abs-btn-arrow">
              <img src="assets/icons/arrow-white.svg" alt="Right Arrow" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whats-our-mission container justify-space-bet flex-box">
    <div class="whats-our-mission-imgs">
      <div class="back-image">
        <img src="assets/imgs/team.jpeg" alt="team-member">
      </div>
      <div class="top-image">
        <img src="assets/imgs/team.jpeg" alt="team-member">
      </div>
    </div>
    <div class="whats-our-mission-text">
      <h2 class="whats-our-mission-title">So… What’s our mission?</h2>
      <p class="whats-our-mission-para">
        We’re musicians, artists, entrepreneurs, environmentalists, animal lovers, and foodies. We’re fashionistas and geeks. We’re clean cut and tattooed. We’re Netflix binge watchers and deep thinkers. We’re also very much like you and your customers. We’re people.
        <br><br>
        In a world of screens and devices, we need to remember that these interactions can and should be personal. From our initial conversations to our post-launch support, you’ll always be dealing with people who care about you and your brand.
        <br><br>
        We don't sell hours. We sell value. We don’t just design and code. We plan, strategize, and consult on the best possible solutions to optimize your customers' experiences and foster your brand’s growth. No, we’re not going to make your logo bigger, and we don’t make things “pop." However, we will make your mission our mission and use our expertise to meet and exceed your goals.
      </p>
    </div>

  </div>

  {% include testimonial.html %}

  {% include work-togather.html %}



</div>
