---
layout: default
---

<div class="cart-page">


<div class="hero hero-cartpage">
        <div class="container flex-box-1">
          <div class="row middle-section">
            <div class="col-txt-1 t-m-order-2">
              <span class="dear-digital-text">cart  </span>
              <h3>Are we that good you want to buy <br> something? Check our awesome <br> clients who did.</h3>
              <p class="no-t-m">orem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <br> commodo ligula eget dolor. Aenean massa. Cum sociis natoque <br> penatibus et magnis dis parturient montes.</p>
              <div class="work-explore-link">
                <div class="">
                  <a href="#products-block"><span class="no-t-m">Explore our shop </span><img src="assets/icons/down-chevron.svg" alt="cart explore button"></a>
                </div>
              </div>
            </div>
            <div class="col-txt-1 t-m-order-2 no-t-m">
              <img class="site-logos" src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="logos">
            </div>
          </div>
        </div>
        <div class="container">
          <section class="website-category-section flex-box-1 justify-between">
            <span class="website-type user-select-none"><h3 class="services-heading"><span class="bullets-pts">01.</span>Food <img src="assets/icons/arrow-blue.svg" alt="right arrow"></h3></span>
            <span class="website-type user-select-none"><h3 class="services-heading"><span class="bullets-pts">02.</span>FMCG <img src="assets/icons/arrow-blue.svg" alt="right arrow"></h3></span>
            <span class="website-type user-select-none"><h3 class="services-heading"><span class="bullets-pts">03.</span>Pets <img src="assets/icons/arrow-blue.svg" alt="right arrow"></h3></span>
          </section>
        </div>
      </div>

      <section class="food-products">
        <div class="container">
          <div class="product-heading"><h3><span>01. </span>Food<span class="pink-dot">.</span></h3>
          </div>
          <div class="flex-box-1 justify-between">
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/work-detail.jpg" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Stashed</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>ONO Drinks</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Pasa D’Oro </h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="food-products">
        <div class="container">
          <div class="product-heading"><h3><span>02. </span>FMCG<span class="pink-dot">.</span></h3>
          </div>
          <div class="flex-box-1 justify-between">
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Stashed</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>ONO Drinks</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Pasa D’Oro </h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
          </div>
          <div class="flex-box-1 justify-between second-row">
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Stashed</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>ONO Drinks</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Pasa D’Oro </h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="food-products padd-bottom">
        <div class="container">
          <div class="product-heading"><h3><span>03. </span>Pets<span class="pink-dot">.</span></h3>
          </div>
          <div class="flex-box-1 justify-between">
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Stashed</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>ONO Drinks</h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
            <div class="product">
              <div class="product-image">
                <img src="assets/imgs/BLUE-ON-WHITE-BG-01.png" alt="product-img">
                <img class="product-logo" src="assets/imgs/Home@2x.png" alt="product-img">
              </div>
              <div class="product-description">
                <h3>Pasa D’Oro </h3>
                <p>A food brand focusing on food for bussy people. Healthy freeze-dried meals ready in minutes.</p>
                <span class="desc">Looking for a similar project? Contact us!</span>
                <a href="#" class="btn product-btn">
                  <span>Shop now<span class="pink-dot">.</span></span>
                  <img src="assets/icons/arrow-blue.svg" alt="shop now arrow btn">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include testimonial.html %}

      {% include work-togather.html %}

</div>
