<footer>
    <div class="footer-wrapper">
      <div class="container">
        <div class="footer-content justify-space-bet flex-box">
          <div class="footer-content-left">
            <div class="footer-logo">
              <a href="/"><img src="assets/icons/footer-logo.svg" alt="Footer Logo" /></a>
            </div>
          </div>
          <div class="footer-content-right">
            <div class="footer-upper-content justify-space-bet flex-box">
              <div class="footer-upper-left justify-space-bet flex-box">

                <div class="footer-links-section">
                  <div class="footer-link-header">
                    Dear Digital
                  </div>
                  <div class="footer-links justify-space-bet flex-box">
                    <div class="footer-links-left">
                      <a href="/services">Services</a>
                      <a class="footer-mid-link" href="/e-comm-sales">E-comm sales</a>
                      <a href="/e-comm-dev">E-comm development</a>
                    </div>
                    <div class="footer-links-middle">
                      <a href="/about">About</a>
                      <a class="footer-mid-link" href="/careers">Careers</a>
                      <a href="/team">Team</a>
                    </div>
                    <div class="footer-links-right">
                      <a href="/work">Work</a>
                      <a class="footer-mid-link" href="/blog">Blog</a>
                      <a href="/contact">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-upper-right">
                <div class="footer-link-header">
                  Join for monthly insights
                </div>
                <form class="monthly-insights-form" action="index.html" method="post">
                  <input class="common-input" id="footer-email" type="email" name="" value="" placeholder="Enter your emailaddress" />
                  <div class="footer-white-arrow">
                    <img src="assets/icons/arrow-white.svg" alt="Footer Arrow" />
                  </div>
                </form>
              </div>
            </div>
            <div class="footer-middle-content justify-space-bet flex-box">
              <div class="footer-middle-left justify-space-bet flex-box">
                <div class="address">
                  Vlasgaardstraat 52 - 9000 Ghent
                </div>
                <div class="emailaddress">
                  info@deardigital.be
                </div>
              </div>
              <div class="footer-middle-right justify-space-bet flex-box">
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-insta.svg" alt="Footer Insta" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-fb.svg" alt="Footer Fb" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-spotify.svg" alt="Footer Spotify" />
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-lower-content justify-space-bet flex-box">
              <div class="footer-lower-left">
                ©2021 Dear Digital
              </div>
              <div class="footer-lower-right">
                Privacy & cookies
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</footer>

<script src="/assets/js/jquery.js" type="text/javascript"></script>
<script src="/assets/js/slick.js" type="text/javascript"></script>
