<header class="header">
        <div class="header-wrapper">
          <nav class="left-nav">
            <a href="/"><img class="no-t-m" src="assets/icons/Header-Logo.svg" alt="Header Logo" /></a>
            <a href="/"><img class="no-d" src="assets/icons/footer-logo.svg" alt="Header Logo" /></a>
          </nav>
          <nav class="right-nav">
            <ul class="header-nav-list header-nav-list-small">
              <!-- 06-08-2021 Commit -->
              <li class="services-dropdown no-t-m"><a href="./services.html">Services</a>
                <div class="arrow-up"></div>
                <ul class="header-nav-list-sub">
                  <li><a href="./services.html"><img src="assets/icons/sales.svg" alt="sales-logo"> E-commerce Sales</a></li>
                  <li><a href="./services.html"><img src="assets/icons/development.svg" alt="development-logo"> E-commerce Development</a></li>
                </ul>
              </li>
              <li class="no-t-m"><a href="./work.html">Work</a></li>
              <li class="about-dropdown no-t-m"><a href="./about.html">About</a>
                <div class="arrow-up"></div>
                <ul class="header-nav-list-sub about-sub-list">
                  <li><a href="./about.html">Our team of experts</a></li>
                  <li><a href="./about.html">Your new career</a></li>
                </ul>
              </li>
              <li class="no-t-m"><a href="/pages/blog">Blog</a></li>
              <li><a href="./cart.html" class="no-m"><img src="assets/imgs/cart.jpg" alt="cart icon"><span class="cart-item-count">15</span></a></li>
              <!-- 06-08-2021 Commit Ends -->
              <li class="no-t-m"><a href="./contact.html"><button class="no-t-m">Contact us<span class="pink-dot">.</span></button></a></li>
              <li class="no-d">
                <button type="button" class="navbar-toggler">
                  <span class="icon-bar bar1"></span>
                  <span class="icon-bar bar2"></span>
                  <span class="icon-bar bar3"><span class="header-nav-pink-dot"></span></span>
                </button>
              </li>
            </ul>
          </nav>
        </div>

      </header>
      <div class="mobile-nav no-d">
        <div class="mobile-nav-header flex-box justify-space-bet">
          <div class="footer-logo">
            <a href="/"><img src="assets/icons/footer-logo.svg" alt="Footer Logo" /></a>
          </div>
          <div class="cart-and-close-nav flex-box">
            <div class="mobile-nav-cart">
              <a href="./cart.html" class="mob-nav-cart-link flex-box"><img src="assets/imgs/cart.jpg" alt="cart icon"><span class="cart-item-count">15</span></a>
            </div>
            <div class="mobile-nav-close">
              <img src="assets/icons/close.svg" alt="Close" />
            </div>
          </div>
        </div>
        <div class="mobile-nav-mid">
          <div class="small-fonts">
            Menu
          </div>
          <div class="accordion-wrapper">
            <h5 class="accordion">Services<span class="symbol symbol-plus"><span>+</span></span></h5>
            <div class="panel">
              <p>It is here that we build your customer base by creating unique touch points for your customers.</p>
            </div>
          </div>
          <div class="menu-item">
            <a href="/work">Work</a>
          </div>
          <div class="accordion-wrapper">
            <h5 class="accordion">About<span class="symbol symbol-plus"><span>+</span></span></h5>
            <div class="panel">
              <p>It is here that we build your customer base by creating unique touch points for your customers.</p>
            </div>
          </div>
          <div class="menu-item">
            <a href="/blog">Blog</a>
          </div>
          <div class="menu-item">
            <a href="/contact">Contact</a>
          </div>
        </div>


        <div class="mob-header-lower-section">
          <div class="small-fonts">
            Get in Touch
          </div>
          <div class="mob-header-email">
            info@deardigital.be
          </div>
          <div class="footer-middle-right justify-space-bet flex-box">
            <div class="footer-social-logo">
              <a href="#" class="footer-social-logo-link">
                <img src="assets/icons/footer-insta.svg" alt="Footer Insta" />
              </a>
            </div>
            <div class="footer-social-logo">
              <a href="#" class="footer-social-logo-link">
                <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" />
              </a>
            </div>
            <div class="footer-social-logo">
              <a href="#" class="footer-social-logo-link">
                <img src="assets/icons/footer-fb.svg" alt="Footer Fb" />
              </a>
            </div>
            <div class="footer-social-logo">
              <a href="#" class="footer-social-logo-link">
                <img src="assets/icons/footer-spotify.svg" alt="Footer Spotify" />
              </a>
            </div>
          </div>
        </div>
      </div>
