<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assign title = site.title %}
    <title>
      {% if {{page.title}} %}
        {{page.title}} | {{title}}
      {% else %}
        {{ title }}
      {% endif %}
    </title>
  <meta name="description" content="{{ description }}">



  <!-- Fonts -->
  <link href="http://fonts.cdnfonts.com/css/sofia-pro?styles=17636,17637,17630,17640,17631,17641,17632,17633,17634,17635,17638,17639,17628,17629,17626,17627" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/georgia-2?styles=33750,33752,33751,33753" rel="stylesheet">


    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/slick.css">

    <script src="/assets/js/jquery.js" type="text/javascript"></script>
</head>
