<header class="header">
  <div class="header-wrapper">
    <nav class="left-nav no-t-m">
      <a href="/"><img src="assets/icons/Header-Logo.svg" alt="Header Logo" /></a>
    </nav>
    <nav class="right-nav no-t-m">
      <ul class="header-nav-list header-nav-list-small">
        <li class="no-m"><a href="/pages/services">Services</a></li>
        <li class="no-m"><a href="/pages/work">Work</a></li>
        <li class="no-m"><a href="/pages/about">About</a></li>
        <li class="no-m"><a href="/pages/blog">Blog</a></li>
        <li><a href="#" class="no-m" onClick="return false;"><img src="assets/imgs/cart.jpg" alt="cart icon"><span class="cart-item-count">15</span></a></li>
        <li><button class="no-m">Contact us<span class="pink-dot">.</span></button></a></li>
      </ul>
    </nav>
  </div>
</header>
