<section class="testimonials-section">
  <h2 class="testimonials-title justify-center flex-box">
    Kind words from our <br> amazing clients
  </h2>
  <div class="testimonial-blur blur-left">

  </div>
  <div class="testimonial-blur blur-right">

  </div>
  <div class="testimonials">

    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/testimonial.jpeg" alt="team-member">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Mathias Ellegiers
            </div>
            <div class="testimonial-position">
              Co-founder of Stashed / Ono Drinks
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/testimonial.jpeg" alt="team-member">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Mathias Ellegiers
            </div>
            <div class="testimonial-position">
              Co-founder of Stashed / Ono Drinks
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/testimonial.jpeg" alt="team-member">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Mathias Ellegiers
            </div>
            <div class="testimonial-position">
              Co-founder of Stashed / Ono Drinks
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/testimonial.jpeg" alt="team-member">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Mathias Ellegiers
            </div>
            <div class="testimonial-position">
              Co-founder of Stashed / Ono Drinks
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="slick-bar">
    <div class="slick-slide-bar">

    </div>
  </div>

  <div class="slide-number">
    <span class="current-slide">1</span>
    <span class="total-slides"> / 4</span>
  </div>
</section>
