<section class="lets-work-togather-section">
  <div class="container">
    <div class="work-togather-content">
      <h3 class="work-togather-title">Let’s work together.</h3>
      <p class="work-togather-para">
        Tell us your business goals and we’ll see how we can create something amazing together.
      </p>
      <form class="work-togather-form" action="index.html" method="post">
        <div class="half-inputs justify-space-bet flex-box">
          <div class="half-input">
            <label for="togather-name">What’s your name?</label>
            <input id="togather-name" type="text" name="" value="" placeholder="Samuel" />
          </div>
          <div class="half-input">
            <label for="togather-email">On what emailaddress can we reach you?</label>
            <input id="togather-email" type="email" name="" value="" placeholder="Hello@yourdomain.be" />
          </div>
        </div>
        <div class="half-inputs justify-space-bet flex-box">
          <div class="half-input">
            <label for="togather-phone">Or would you rather get a phone call?</label>
            <input id="togather-phone" type="number" name="" value="" placeholder="+32 00 000 000" />
          </div>
          <div class="half-input">
            <label for="togather-details">DETAILS ABOUT YOUR PROJECT</label>
            <input id="togather-details" type="email" name="" value="" placeholder="Services, scope, timeline, etc…" />
          </div>
        </div>
        <div class="togather-checkbox-section flex-box">
          <span class="checkbox-outer">
            <span class="checkbox-inner"></span>
          </span>
          <input class="no-disp" type="checkbox" id="togather-checkbox" name="vehicle1" value="Bike">

          <span class="togather-checkbox-text">I’m glad to subscribe to your epic monthly insights</span>
        </div>
        <div class="abs-btn justify-space-bet flex-box">
          <div class="abs-btn-text no-t-m">
            The time has come to push the button
          </div>
          <div class="abs-btn-text no-d">
            Push the button
          </div>
          <div class="abs-btn-arrow">
            <img src="assets/icons/arrow-white.svg" alt="Right Arrow" />
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
