* {
  outline: none !important;
  box-sizing: border-box;
  opacity: 1;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Poppins,sans-serif;
  font-weight: 400;
  margin: 0;
  color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1650px;
  padding: 0 25px;
  margin: 0 auto;
}
.rel {
  position: relative !important;
}
.text-center {
  text-align: center !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-space-bet{
  justify-content: space-between;
}
.center-it {
  display: block !important;
  margin: 0 auto !important;
}
.flex-box {
  display: flex;
  /* height: 100%; */
}
.flex-box-1 {
  display: flex;
  height: 100%;
}
.flex-center {
  align-self: center;
}
.no-disp {
  display: none !important;
}

.padd-bottom {
  padding-bottom: 80px !important;
}

/* Header CSS */
header {
    font-family: Poppins SemiBold,sans-serif;
    background-color: transparent;
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 126px;
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 0;
}
.header-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 126px !important;
  max-width: 1246px;
  padding: 0 25px;
  margin: 0 auto;
}
header nav.left-nav {
    width: 35%;
    text-align: left;
    align-self: center;
}
header nav.left-nav img {
    max-height: 56px;
}
header nav.right-nav {
    width: 65%;
    text-align: right;
    align-self: center;
}
header .header-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .header-nav-list li {
    display: inline-flex;
}
header .header-nav-list a, header .header-nav-list button {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    margin: 0 24px;
    line-height: 24px;
    color: #fff;
    font-family: Poppins SemiBold,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s ease;
}
header .header-nav-list button:last-child {
    margin-right: 0;
}
.pink-dot {
    color: #DB9195;
}
.header-nav-list button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #fff;
}
.cart-item-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #DB9195;
    color: #202248;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    margin-left: 9px;
}
.hero {
    height: 56vw;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-height: none;
    background-position: center;
    background-size: cover;
    /* margin-bottom: 80px; */
}
.hero-homepage {
    background: linear-gradient(45deg, #1F2AC9, #303CF4);;
}
.hero-heading {
  margin: 0px;
  width: 100%;
  max-width: 800px;
  text-align: left;
  font-family: Poppins SemiBold,sans-serif;
  font-size: 56px;
  line-height: 72px;
  color: #fff;
}

.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.marg-top {
  margin-top: 80px;
}
.marg-bottom {
  margin-bottom: 80px;
}
.padd-top {
  padding-top: 80px;
}
.padd-top {
  padding-bottom: 80px;
}
.services-section {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70vw;
  max-width: 1440px;
  height: 240px;
}
.services-block {
  width: 100%;
  max-width: 680px;
  background-color: #DB9195;
  color: #fff;
  text-decoration: none;
}
.services-block:first-child {
  border-right: 2px solid rgba(255,255,255,0.5);;
}
.services-block .flex-box-1 {
  max-width: 380px;
  margin: 0 auto;
}
.services-heading {
  width: 100%;
  font-family: Poppins SemiBold,sans-serif;
  font-size: 24px;
  line-height: 35px;
  color: #202248;
  text-align: left;
  margin: 0 0 30px;
}
.bullets-pts {
  font-size: 18px;
  margin-right: 8px;
}
.services-text {
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  font-family: Poppins SemiBold,sans-serif;
  margin: 0;
}
.services-block .services-heading img {
  margin-left: 12px;
  height: 16px;
}
.explore-link {
  position: absolute;
  right: 25px;
  bottom: 0;
  margin-bottom: 44px;
}
.explore-link a {
  display: flex;
  align-items: center;
  font-family: Poppins SemiBold,sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  text-decoration: none;
}
.explore-link img {
  width: 32px;
  height: 32px;
  display: block;
  margin-left: 16px;
}
.blue-background {
    background-color: #2631D4;
}
.pink-background {
    background-color: #DB9195;
}
.middle-section {
  width: 100%;
    padding: 160px 0;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col-img-1 {
    width: 30%;
    align-self: center;
}
.col-img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.col-txt-1 {
    width: 50%;
    align-self: center;
}
.dear-digital-text {
    display: block;
    color: rgba(255,255,255,0.5);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
}
.middle-section .col-txt-1 h3 {
    max-width: 800px;
    color: #fff;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin: 16px 0 40px;
}
.middle-section .col-txt-1 p {
    max-width: 640px;
    color: rgba(255,255,255,0.5);
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0;
}
.btn {
    width: 480px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    text-decoration: none;
    padding: 0 40px;
}
.rectangle-2 {
    width: 100%;
    max-width: 1600px;
    height: 595px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 24px 0 rgba(32,34,72,0.4);
    margin: 0 auto;
}
.our-services {
    display: flex;
    color: #8F94E4;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 40px 160px 30px;
    text-transform: uppercase;
}
.rectangle-2 .our-services-block {
    display: flex;
    padding: 0 105px;
}
.col-one-three, .col-two-three {
    display: block;
    /* align-self: center; */
    width: 30%;
    max-width: 416px;
}
.our-services-heading {
    display: flex;
    align-items: center;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
}
.our-services-heading-2 {
    display: flex;
    align-items: center;
    max-width: 400px;
    color: #202248;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin: 0 0 40px;
}
.our-services-heading img {
    width: 40px;
    height: 37px;
    margin-right: 16px;
}
.accordion-wrapper {
    max-width: 360px;
    border-bottom: .5px solid #000;
    margin: 0;
    margin-left: 56px;;
}
.accordion {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    padding: 20px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: 0;
    transition: .4s;
    margin: 0!important;
    position: relative;
    color: #202248;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    /* padding-right: 40px; */
}
.accordion .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    background-color: #DB9195;
    border: 2px solid #DB9195;
    -webkit-transition-property: background,-webkit-transform;
    transition-property: transform,background,-webkit-transform;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    /* position: absolute;
    right: 0; */
}
.panel {
    padding: 0;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}
.panel-max {
    max-height: none!important;
}
.panel p {
    margin: 0 0 16px;
}
.services-btn {
    width: 400px !important;
    color: rgba(32,34,72,0.4) !important;
    border: 2px solid rgba(32,34,72,0.4) !important;
}
.contact-us {
    height: 480px;
}
.contact-us h3 {
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 40px;
}
.contact-us a {
    color: #202248;
    margin: 0 auto;
}
.contact-us .pink-dot {
    color: #fff;
}


/* Work Page */

body span {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

button {
  background: transparent;
  cursor: pointer;
}
.hero-workpage {
    background: linear-gradient(45deg, #13005E, #02008B);
}
.hero-workpage .middle-section .col-txt-1 {
    width: 100%;
}
.hero-workpage .middle-section .col-txt-1 p {
    max-width: 510px;
}
.work-explore-link {
    margin: 160px 0 0;
}
.work-explore-link a {
    display: flex;
    align-items: center;
    font-family: Poppins SemiBold,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 0;
    text-decoration: none;
}
.work-explore-link img {
    width: 32px;
    height: 32px;
    display: block;
    margin-left: 16px;
}
.work-section {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 100%;
    max-width: 1280px;
    height: 120px;
    background-color: #1F2AC9;
    margin: 0 auto;
    padding: 0 105px;
}
.work-type {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 24px;
    cursor: pointer;
}
.work-type:first-child {
    padding-left: 0;
}
.work-type:last-child {
    padding-right: 0;
}
.work-selected {
    color: rgba(255, 255, 255, 1);
}
.user-select-none {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.products-section {
    background-color: #FAFAFD;
}
.our-products {
    width: 100%;
    height: 528px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.our-products .product-img {
    display: flex;
    width: 40%;
    position: relative;
}
.product-img .product-mobile-img {
    position: absolute;
    right: 0;
    top: 80px;
    width: 220px;
    height: 448px;
    z-index: 3;
    object-fit: cover;
    box-shadow: 8px 8px 16px 0 rgba(32,34,72,0.2);
    border: 2px solid #fff;
    border-radius: 16px;
}
.product-img .product-desktop-img {
    width: 480px;
    height: 362px;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 16px;
    z-index: 1;
}
.our-products .product-contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    align-self: center;
}
.product-contents .product-heading {
    color: #202248;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin: 0 0 32px;
}
.product-contents .product-desc {
    display: flex;
    justify-content: space-between;
}
.product-contents p {
    width: 45%;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
}
.product-contents ul.product-list {
    width: 50%;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
    list-style:none;
    margin: 0;
    padding: 0;
}
.product-contents ul.product-list li {
    color: #202248;
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 9px;
    padding-left: 40px;
    background-image: url("assets/icons/development.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.product-contents ul.product-list li:last-child {
    margin: 0;
}
.product-link {
    width: 132px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #202248;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    margin-top: 40px;
    border-bottom: 2px solid #DB9195;
}
.product-link img {
    width: 12px;
    height: 8px;
    margin-left: 24px;
}
.rev-cols .product-img {
    justify-content: flex-end;
}
.rev-cols .product-img .product-mobile-img {
    left: 0;
    right: auto;
}
.rev-cols .product-img .product-desktop-img {
}

.fade-product {
    background: linear-gradient(0deg, #FAFAFD, rgba(250,250,253,0));
}
.load-more-btn {
    width: 178px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F1DFE0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.work-contact-block .our-services-heading, .work-contact-block .contact-us a {
    color: #fff;
}
.work-contact-block .contact-us .pink-dot {
    color: #DB9195;
}

.contactpage-hero {
    height: 66vw;
}
.contactpage-hero .middle-section {
    width: 100%;
    padding: 306px 0 0 0;
}
.contactpage-hero .middle-section .col-txt-1 {
    align-self: flex-start;
}
.contactpage-hero .middle-section .col-txt-1 h3 {
    max-width: 450px;
    margin-top: 0;
}
.contactpage-hero .middle-section .col-txt-1 p {
    max-width: 520px;
}
.contactpage-hero .col-txt-1 h4 {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
    margin-bottom: 40px;
}
.contactpage-hero .col-txt-1:last-child {
    max-width: 640px;
    margin-left: auto;
}
.contact-address, .contact-address a {
    width: fit-content;
    display: block;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}
.contact-address a {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 40px;
}
.underline-pink {
    border-bottom: 2px solid #DB9195;
}
#customer-contact label {
    display: block;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
#customer-contact input {
    width: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
    padding: 0px;
}
#customer-contact input::placeholder {
    color: rgba(255,255,255,0.5);
    opacity: .5; /* Firefox */
}
#customer-contact input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255,255,255,0.5);
}
#customer-contact input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255,255,255,0.5);
}
.amount {
    color: #fff !important;
    margin-bottom: 40px !important;
}
.white-border {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.white-border:focus {
    border-bottom: 2px solid rgba(255,255,255);
}
.white-border:active {
    border-bottom: 2px solid rgba(255,255,255);
}
#mobileRange {
	padding: 0;
/*   	height: 6px; */
    border: none;
}

#mobileRange {
  background: linear-gradient(to right, #DB9195 0%, #DB9195 15%, #fff 15%, #fff 100%);
  /* border: 1px solid #DB9195;
  border-radius: 8px; */
  height: 4px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin-bottom: 12px !important;
}

#mobileRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #DB9195;
  cursor: pointer;
  box-shadow: 0px 6px 18px #23234c4d;
}

#mobileRange::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #DB9195;
  cursor: pointer;
  box-shadow: 0px 6px 18px #23234c4d;
}
#mobileRange::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    background: #DB9195;
  	box-shadow: 0px 6px 18px #23234c4d;
}
.checkbox-container {
    display: flex !important;
    align-items: center;
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px !important;
    cursor: pointer;
    font-size: 16px !important;
    line-height: 30px !important;
    text-transform: none !important;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid #fff;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: transparent;
  border: 2px solid #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
  border: 2px solid #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 5px;
    top: 5px;
    width: 16px;
    height: 16px;
    background-color: #DB9195;
}

/* Services Page */

.hero-services{
  background: linear-gradient(45deg, #501BBB 0%, #6630F4 100%);
  margin-bottom: 0;
}

.small-fonts {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16px;
  margin-bottom: 16px;
}

.hero-services .flex-center, .hero-services .hero-heading{
  text-align: center;
}

.hero-services .hero-heading{
  margin-bottom: 40px;
  position: relative;
}

.hero-services .hero-heading .scribble{
  position: absolute;
  top: 10%;
    left: 0;
}

.hero-services .hero-heading .scribble img {
  width: 135px;
}

.services-hero-text {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    opacity: 0.5;
    margin-bottom: 150px;
}

.at-your-service-text {
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    padding-bottom: 7px;
}

.at-your-service-content{
  align-items: center;
}

.down-arrow {
    display: block;
    /* transform: rotate(90deg); */
    cursor: pointer;
  margin-left: 15px;
}

.nav-link-arrow.down-arrow {
  transform: rotate(90deg);
}

.at-your-service-content .down-arrow {
  opacity: 0.5;
}

.down-arrow img {
  width: 32px;
  height: 32px;
}

.e-comm-sales-section {
    position: relative;
    padding-top: 271px;
}

.e-comm-sales-navigation-section{
  color: #202248;
  width: 90%;
  position: absolute;
    left: 5%;
    top: -414px;
}

.e-comm-sales-navigation {
    width: 50%;
    padding: 50px 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    align-items: center;
    background-color: #DB9195;
}

.e-comm-sales-navigation.current{
  background-color: transparent;
  border: 2px solid #DB9195;
}

.small-number {
    font-size: 16px;
    margin-right: 16px;
}

.nav-link-arrow {
    margin-left: 6%;
}

.nav-link-arrow.down-arrow {
  margin-left: 4%;
}

.e-comm-sales {
    color: #202248;
    position: relative;
}

.title-svg {
  margin-right: 16px;
}

.e-comm-sales-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 94px;
}

.e-comm-sales-title .small-number {
  font-size: 24px;
}

.info-cards-left, .info-cards-right {
  width: 45%;
}

.info-card-link-arrow img{
  height: 8px;
  width: 12px;
  margin-left: 24px;
}

.info-card {
    padding: 28px 0 80px;
    border-top: 2px solid #1F2AC9;
}

.info-card-heading {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 35px;
}

.info-card-text {
    color: #8F90A3;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 32px;
}

.info-card-link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    border-bottom: 2px solid #DB9195;
    width: fit-content;
}

.abs-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    margin-bottom: 40px;
    position: relative;
}

.abs-title .scribble {
  position: absolute;
  left: -1%;
    top: 34%;
}

.abs-title .scribble img{
  width: 135px;
}

.abs-btn {
    padding: 34px 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    align-items: center;
    border: 2px solid #F1DFE0;
    cursor: pointer;
    transition: .4s ease;
}

.abs-text {
    width: 80%;
}

.under-info .abs-text {
  width: 100%;
}

.absolute-under-info {
    position: absolute;
    width: 50%;
    right: 0;
}

.e-comm-sales {
    margin-bottom: 168px;
}

.e-comm-sales.e-comm-development {
  margin-bottom: 88px;
}

.lets-work-togather-section {
    background: linear-gradient(45deg, #1F2AC9 0%, #303CF4 100%);
}

.work-togather-content {
    width: 80%;
    margin: 0 auto;
    padding: 120px 0;
}

.work-togather-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 40px;
}

.work-togather-para {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    opacity: 0.5;
    width: 480px;
    margin-bottom: 40px;
}

.work-togather-content label{
  font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
}

.half-input {
    width: 48%;
}

.half-input input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    padding: 7px 0 3px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    border-bottom: 2px solid #8F90A3;
    transition: .4s ease;
}

.half-input input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}

.half-input input:focus {
  border-bottom: 2px solid #DB9195;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.work-togather-content .half-inputs {
    margin: 40px 0;
}

.togather-checkbox-section{
  cursor: pointer;
  align-items: center;
  width: fit-content;
  margin-bottom: 47px;
}

.checkbox-outer {
    height: 31px;
    width: 31px;
    border: 1px solid #FFFFFF;
    position: relative;
    margin-right: 18px;
}

.checkbox-inner.checked {
    width: 17px;
    height: 17px;
    background-color: #DB9195;
    left: 6px;
    top: 6px;
    position: absolute;
}

.togather-checkbox-text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
}

.work-togather-form .abs-btn{
  width: 45%;
  max-width: 482px;
}

.e-comm-sales-navigation-content {
    margin: 0 auto;
    width: 425px;
}

/* About-us CSS */

.hero-about {
    background: linear-gradient(45deg, #3D005E 0%, #59008B 100%);
    margin-bottom: 0;
}

.hero-about .flex-center, .hero-about .hero-heading {
    text-align: center;
    max-width: none;
}

.hero-about .hero-heading {
  margin-bottom: 40px;
    position: relative;
}

.small-fonts {
  text-transform: uppercase;
}

.hero-about .at-your-service-text, .hero-about .down-arrow{
  z-index: 1;
}

.dark-pink-circle{
  background-color: #530082;
  height: 100vw;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 670px;
}

.about-us-office-img {
  height: 33vw;
  width: 100%;
  position: relative;
}

.about-us-office-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.why-choose-dd {
  background-color: #59008B;
}

.why-choose-dd-content{
  position: relative;
    padding-top: 160px;
    max-width: 640px;
}

.why-choose-dd-title {
  margin-bottom: 40px;
  font-size: 40px;
 font-weight: 600;
 letter-spacing: 0;
 line-height: 56px;
}

.why-choose-dd-text {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  opacity: 0.5;
  margin-bottom: 160px;
}

.our-team-wrapper {
    background-color: #59008B;
    padding-bottom: 120px;
    margin-bottom: 160px;
}

.our-team-rectangle {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 24px 0 rgb(32 34 72 / 40%);
    width: 90%;
    margin: 0 auto;
    position: relative;
    color: #202248;
    padding: 93px 160px 80px;
    margin-bottom: 120px;
}

.our-team-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 87px;
}

.team-imgs-info {
    margin: 0 -3.16%;
    flex-wrap: wrap;
}

.team-member {
    width: 27%;
    margin: 0 3.16%;
    margin-bottom: 80px;
}

.member-image {
  width: 100%;
  height: 17.516vw;
    margin-bottom: 24px;
}

.member-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 8px;
}

.member-position {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    color: #8F90A3;
}

.new-career-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    text-align: center;
    margin-bottom: 40px;
}

.new-career .abs-btn{
  width: 483px;
  margin: 0 auto;
}

.new-career .abs-btn:hover {
  background-color: #FFFFFF;
  color: #DB9195;
}

.whats-our-mission-imgs, .whats-our-mission-text {
  width: 48%;
}

.whats-our-mission-imgs{
  position: relative;
}

.back-image {
    width: 80%;

}

.top-image{
  position: absolute;
  width: 60%;

    top: 55%;
    right: 0;
}

.back-image img, .top-image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.whats-our-mission {
    margin-bottom: 350px;
}

.whats-our-mission-title {
    color: #202248;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 80px;
}

.whats-our-mission-para {
  color: #8F90A3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
}

.testimonials-section{
  color: #202248;
  position: relative;
  margin-bottom: 200px;
}

.testimonials-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    text-align: center;
    margin-bottom: 160px;
}

.testimonial-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 60px;
    object-fit: cover;
}

.testimonial-text {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    width: 480px;
    padding-top: 32px;
    padding-bottom: 18px;
}

.testimonial-writer {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    margin-right: 24px;
}

.testimonial-position {
    font-size: 16px;
    letter-spacing: 0;
    color: #8F90A3;
    line-height: 25px;
}

.testimonial-slick-part {
    padding: 0 25px;
}

.testimonial-blur {
  height: 204px;
  width: 320px;
  transform: scaleX(-1);
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(250,250,253,0) 100%);
  position: absolute;
  bottom: 155px;
  z-index: 1
}

.blur-left {
  left: 0;
}

.blur-right{
  right: 0;
  transform: rotate(360deg);
}

.slick-bar {
    height: 2px;
    width: 80%;
    background-color: #B7BAEE;
    margin: 101px auto 24px;
}

.slick-slide-bar {
    height: 2px;
    background-color: #1F2AC9;
    width: 25%;
}

.slide-number {
    color: #202248;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
}

/* Blog Page */

.hero-blog {
  background: linear-gradient(45deg, #D68186 0%, #D07070 100%);
  padding-top: 320px;
    margin-bottom: 120px;
    max-height: none;
    height: auto;
}

.blog-hero-left, .blog-hero-right {
    width: 49%;
}

.hero-blog .hero-heading{
  margin-bottom: 350px;
}

.blog-hero-right {
  padding-top: 40px;
}

.hero-form-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 40px;
}

.blog-hero-monthly-insight-form label {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
}

.blog-hero-monthly-insight-form input {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.blog-hero-monthly-insight-form .half-input input:focus {
  border-bottom: 2px solid #FFFFFF;
}

.blog-hero-monthly-insight-form .half-input {
  width: 100%;
}

.blog-hero-monthly-insight-form .btn {
  color: #FFFFFF;
}

.hero-blog-content {
  margin-bottom: 140px;
}

.blog-podcast-navigation{
  width: 80%;
}

.hero-blog .navigation {
    padding: 44px 0 43px 78px;
    align-items: center;
    background-color: #DB9195;
    width: 50%;
    transition: .4s ease;
    color: #202248;
    cursor: pointer;
}

.hero-blog .navigation .btn-text {
    padding-bottom: 7px;
}

.hero-blog .navigation.selected{
  border: 2px solid #DB9195;
 background-color: #FAFAFD;
}

.blog-nav-arrow {
  transition: .4s ease;
}

.blog-nav-arrow.down-arrow {
  transform: rotate(90deg);
  margin-left: 0;
}

.blog-nav-arrow.down-arrow img{
  width: 25px;
  height: 18px;
}

.hero-blog .btn-text{
  margin: 0 24px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
}

.articles-section, .podcast-section {
  color: #202248;
  transition: .4s ease;
}

.articles-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    margin-bottom: 120px;
}

.articles-title .navigation-svg {
  margin-right: 16px;
}

.article-type{
  color: #8F90A3;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 27px;
  transition: .4s ease;
  cursor: pointer;
  margin-bottom: 75px;
}

.article-type.selected {
  color: #202248;;
}

.articles-navigation{
  width: 760px;
}

.article-card {
    width: 30%;
    margin: 0 1.5%;
    margin-bottom: 120px;
}

.article-img{
  width: 100%;
  margin-bottom: 48px;
}

.article-img img{
  width: 100%;
  height: auto;
}

.article-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 42px;
}

.article-author-img {
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

.article-author-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;

}

.article-author-name {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
}

.article-date-time {
    color: #8F90A3;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    align-items: center;
}

.pink-dot-small {
    height: 4px;
    width: 4px;
    background-color: #DB9195;
    margin: 0 8px;
}

.article-card.bigger-size {
  width: 100%;
  align-items: flex-end;
  margin: 0 0 120px;
}

.article-card.bigger-size .article-img {
  height: 25vw;
  width: 66%;
  margin-bottom: 0
}

.article-author-info {
    align-items: center;
}

.article-info {
    width: 30%;
}

.article-card.bigger-size .article-img img {
  height: 100%;
  object-fit: cover;
}

.article-cards{
  flex-wrap: wrap;
  margin: 0 -1.5%;
  position: relative;
}

.articles-end-blur {
    height: 632px;
    width: 1920px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(250,250,253,0) 100%);
    position: absolute;
    bottom: 0;
}

.load-more-articles-btn {
  padding: 18px 47px 18px 41px;
  border: 2px solid #F1DFE0;
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
  align-items: flex-end;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 160px;
  margin-top: 120px;
}

.load-more-articles-btn .pink-dot-small{
  position: absolute;
    margin: 0;
    bottom: 24px;
    right: 39px;
}

.join-for-monthly-insight-section{
  background: linear-gradient(45deg, #1F2AC9 0%, #303CF4 100%);
  padding: 120px 0;
}

.join-for-monthly-title{
  margin-bottom: 40px;
  font-size: 40px;
 font-weight: 600;
 letter-spacing: 0;
 line-height: 56px;
 text-align: center;
 color: #ffffff;
}

.join-for-monthly-insight-section .monthly-insights-form{
  width: 476px;
    margin: 0 auto;
}

.join-for-monthly-insight-section .monthly-insights-form .common-input{
  font-size: 16px;
}

.common-input::placeholder {
    color: rgba(255,255,255,0.5);
}

.podcast-cards{
  position: relative;
}

.podcast-card{
  margin-bottom: 120px;
}

.podcast-img {
  width: 20%;
  background: linear-gradient(45deg, #501BBB 0%, #6630F4 100%);
  height: fit-content;
  position: relative;
  padding: 84px 0 108px;
  display: flex;
  justify-content: center;
}

.podcast-img .navigation-svg img {
  height: 72px;
  width: 48px;
}

.podcast-img .dd-logo {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.podcast-info {
    width: 35%;
}

.podcast-info .article-date-time{
  margin-bottom: 28px;
}

.podcast-info .article-title{
  margin-bottom: 29px;
}

.podcast-description {
    color: #8F90A3;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
}

.podcast-player-section {
    width: 35%;
}


.podcast-player-section img {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.blog-page .for-podcast h3{
  display: block
}


.marg-bottom-xl {
    margin-bottom: 180px;
}
.partner-section {
    position: relative;
    padding-top: 164px;
    padding-bottom: 120px;
    text-align: center;
}
.partner-carousel {
    margin-top: 50px;
}
.partner-carousel img {
    width: 192px;
    height: 96px;
    object-fit: contain;
}
.partner-blur {
    height: 96px;
    width: 200px;
    transform: scaleX(-1);
    background: linear-gradient(270deg, #2631D4 0%, rgba(31,42,201,0) 100%);
    position: absolute;
    bottom: 120px;
    z-index: 1
}

.blur-left {
    left: 0;
}

.blur-right{
    right: 0;
    transform: rotate(360deg);
}

.services-dropdown, .about-dropdown {
    position: relative;
}
.services-dropdown:hover .header-nav-list-sub, .about-dropdown:hover .header-nav-list-sub {
    max-height: 999px;
}
.services-dropdown:hover .arrow-up, .about-dropdown:hover .arrow-up {
    display: block;
}
.header-nav-list-sub {
    display: block;
    border: 0;
    position: absolute;
    left: -90px;
    z-index: 1;
    width: 300px;
    min-width: 80px;
    text-align: left;
    top: 34px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    transition-delay: 0s;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    padding: 0;
    box-shadow: 4px 4px 24px 0 rgba(32,34,72,0.4);
}
.header-nav-list-sub li {
    display: flex !important;
    align-items: center;
    margin: 32px 20px 16px;
}
.header-nav-list-sub li:last-child {
    margin-top: 0;
    margin-bottom: 32px;
}
.header-nav-list-sub li a {
    display: flex;
    align-items: center;
    color: #202248;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 25px;
    margin: 0;
}
.header-nav-list-sub li a img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin-right: 30px;
}
.about-sub-list li {
    margin: 35px 40px 21px;
}
.about-sub-list li:last-child {
    margin-top: 0;
    margin-bottom: 35px;
}
.arrow-up {
    display: none;
    position: absolute;
    top: 24px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.scribble-circle {
    display: inline-block;
    position: relative;
}
.scribble-circle:after {
    content: '';
    background-image: url("assets/icons/scribble-round.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
}
.scribble-underline {
    display: inline-block;
    position: relative;
}
.scribble-underline:after {
    content: '';
    background-image: url("assets/icons/scribble-underline.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20%;
}
.scribble-circle-2:after {
    width: 60%;
    top: 0;
    background-image: url("assets/icons/scribble-round-2.svg");
}
.scribble-underline-2:after {
    width: 52%;
    top: 50%;
    left: 48%;
    background-image: url("assets/icons/scribble-white.svg");
}
.scribble-wave:after {
    top: 90%;
    background-repeat: repeat-x;
    background-image: url("assets/icons/scribble-wave.svg");
}
.scribble-workpage::after{
    width: 52%;
    top: 50%;
    left: 48%;
}
.hero-cartpage {
    background: linear-gradient(45deg, #501BBB, #6630F4);
}
.hero-cartpage .middle-section .col-txt-1 {
    width: 50%;
}
.hero-cartpage .middle-section .col-txt-1 p {
    max-width: 510px;
}
.hero-cartpage .middle-section .col-txt-1 .site-logos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 08-08-2021 Commit */
.website-category-section {
    position: absolute;
    bottom: 0;
    left: 25px;
    /* right: 10%; */
    width: 100%;
    max-width: 1440px;
    height: 120px;
    background-color: #DB9195;
    margin: 0 auto;
}
/* 08-08-2021 Commit Ends */
.website-type {
    width: 100%;
    max-width: 480px;
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(255,255,255,0.5);
    padding: 0 80px;
}
.website-type:last-child {
    border: none;
}
.website-type .services-heading {
    margin: 0;
}
.website-type .services-heading img {
    margin-left: 20px;
}
/* 08-08-2021 Commit */
.food-products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    background-color: #FAFAFD;
}
.product-heading h3 {
  color: #202248;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  margin: 0;
  margin-bottom: 94px;
}
.product-heading h3 span {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.product {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 480px;
    height: 764px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 24px 0 rgba(32,34,72,0.06)
}
.product-image {
    width: 100%;
    height: 439px;
    position: relative;
}
.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-image .product-logo {
    position: absolute;
    bottom: -40px;
    right: 40px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.product-description {
    width: 100%;
    height: 325px;
    display: block;
    position: relative;
    padding: 0 40px;
}
.product-description h3 {
    width: 100%;
    display: block;
    color: #202248;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0;
    margin-top: 40px;
}
.product-description p {
    color: #8F90A3;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    margin: 0;
    margin-top: 8px;
}
.product-description .desc {
    display: block;
    width: max-content;
    color: #8F90A3;
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    border-bottom: 2px solid #DB9195;
    margin: 0;
    margin-top: 16px;
}
.product-btn {
    width: 100%;
    margin-top: 32px;
    color: #202248;
    background-color: #DB9195;
}
.product-btn .pink-dot {
    color: #fff;
}
.second-row {
    margin-top: 120px;
}


/* Blog detail */

.font-blue .header-nav-list a, .font-blue .header-nav-list button
 {
  color: #202248;
}

.font-blue .header-nav-list button {
  border: 2px solid #F1DFE0;
}

.blog-detail-page, .work-detail-page {
  color: #202248;
   background-color: #FAFAFD;
}

.hero-blog-detail{
  height: fit-content;
  box-shadow: 0 6px 4px 0 rgba(32,34,72,0.06);
}

.blog-detail-page .hero-heading, .work-detail-page .hero-heading{
  color: #202248;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 120px;
  padding-top: 292px;
}

.blog-hero-img {
  width: 100%;
  height: 55vw;
  margin: 0 auto;
  margin-bottom: 43px;
}

.blog-hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-detail-page .article-title{
  align-items: center;
}

.blog-detail-page .article-title .navigation-svg{
  padding-top: 6px;
    margin-right: 24px;
}

.pink-line {
  width: 33.33%;
  height: 4px;
  background-color: #DB9195;
}

.article-btn {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
  padding: 15px 0;
  border: 2px solid #F1DFE0;
  height: 58px;
  width: 162px;
  text-align: center;
}

.pink-dot-med{
  width: 3px;
  height: 3px;
  background-color: #DB9195;
  display: inline-block;
}

.article-content{
  width: 90%;
  padding-bottom: 122px;
    box-shadow: 4px 4px 24px 0 rgb(32 34 72 / 6%);
    background-color: #ffffff;
    margin-bottom: 120px;
}

.article-inner-content{
  width: 90%;
  margin: 0 auto;
}

.article-tag-date {
    padding-top: 80px;
    margin-bottom: 120px;
    align-items: center;
}

.article-tag {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 12px 0;
    width: 82px;
    background-color: #1F2AC9;
    text-align: center;
    color: #FFFFFF;
}

.article-tag-date .pink-dot-med{
  margin-left: 8px;
  margin-right: 8px;
}

.article-inner-heading{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
  margin-bottom: 40px;
}

.article-inner-para{
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 80px;
  color: #8F90A3;
}

.article-inner-para .pink-dot-med {
  margin-bottom: 5px;
}

.article-inner-img{
  width: 100%;
  height: 35vw;
  margin-bottom: 80px;
}

.article-inner-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-contact-us-btn-section {
    background-color: #DB9195;
    padding: 48px 0 56px;
    margin-bottom: 120px;
}

.article-contact-us-btn-content{
  margin: 0 auto;
}

.article-contact-us-heading {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    margin-bottom: 48px;
}

.article-contact-us-btn-content .btn{
  margin: 0 auto;
}

.article-contact-us-btn-content .btn span{
  color: #202248;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.article-inner-content .last-para{
  margin-bottom: 120px;
}

.article-end-line {
  height: 2px;
  width: 100%;
  background-color: #1F2AC9;
  margin-bottom: 47px;
}

.share-text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
}

.blog-detail-page .share-icon{
  margin-right: 24px;
}

.share-text.share-icon{
  margin-right: 28px;
}

.contact-us-lower-title {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.contact-us-lower-btn-section .btn{
  margin: 0 auto;
  border: 2px solid #F1DFE0;
  background-color: #FFFFFF;
  color: #202248;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
}

.contact-us-lower-btn-section{
  padding-bottom: 120px;
}

.blog-detail-page-article-cards{
  background-color: #ffffff;
  padding-bottom: 80px;
}

.other-insights-title {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    padding-top: 160px;
    margin-bottom: 80px;
}

/* Work-Detail-Page */

.work-detail-page .small-fonts{
  padding-top: 292px;
  margin: 0 auto;
  text-align: center;
}

.work-detail-page .hero-heading{
  padding-top: 0;
  max-width: none;
  margin-bottom: 40px;
}

.work-detail-page .services-hero-text {
  width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
}

.stroke-fonts {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.stroke-font {
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #202248;
    margin-bottom: 44px;
}

.stroke-desc {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
}

.work-detail-img{
  width: 100%;
  height: 40vw;
  margin-bottom: 160px;
}

.work-detail-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-detail-page .hero-blog-detail{
  box-shadow: none;
}

.scs-right {
    width: 70%;
}

.scs-section {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.scs-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
}

.services-desc {
    width: 70%;
    flex-wrap: wrap;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
}

.services-desc-text img {
  margin-right: 16px;
}

.challenge-desc{
  color: #8F90A3;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 66px;
  margin-bottom: 80px;
}

.services-desc-text {
    margin-bottom: 14px;
    color: #8F90A3;
}

.challenge-title{
  margin-top: 151px;
    margin-bottom: 271px;
}

.solutions-desc{
  flex-wrap: wrap;
}

.solutions-desc .info-card{
  width: 48%;
}

.pink-num {
    color: #DB9195;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
}

.solutions-desc .info-card-text{
  font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
    width: 90%;
}

.work-dtail-ss-imgs-section{
  background-color: #ffffff;
  padding-top: 160px;
}

.work-dtail-ss-imgs{
  background-color: #FAFAFD;
    margin: 0 auto;
    padding: 80px 0;
    align-items: center;
    justify-content: space-around;
}

.mobile-img {
  width: 220px;
    height: 448px;
    box-shadow: 8px 8px 16px 0 rgb(32 34 72 / 20%);
    border-radius: 16px;
}

.tablet-img {
  width: 506px;
  height: 744px;
  box-shadow: 8px 8px 16px 0 rgb(32 34 72 / 20%);
  border-radius: 16px;
}

.mobile-img img, .tablet-img img{
  width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    padding: 8px;
}

.tablet-img img{
  padding: 10px;
}

.rgc-section {
    background-color: #ffffff;
    padding: 120px 0;
}

.rgc{
  width: 70%;
  margin: 0 auto;
}

.rgc-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
}

.rgc-desc {
    color: #8F90A3;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    width: 70%;
}

.work-detail-lower-img-section{
  background-color: #ffffff;
  padding-bottom: 160px;
}

.work-detail-lower-img{
  width: 100%;
  height: 40vw;
}

.work-detail-lower-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rgc-imgs-desc-section{
  background-color: #ffffff;
  padding-bottom: 160px;
}

.rgc-imgs-desc{
  align-items: center;
}

.rgc-imgs, .rgc-text{
  width: 48%;
}

.rgc-imgs{
  background-color: #FAFAFD;
  padding: 80px 0;
  justify-content: space-around;
}

.mobile-img.lower, .tablet-img.lower {
    margin-top: 20%;
}

.rgc-text-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 40px;
}

.rgc-text-para {
    color: #8F90A3;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 58px;
}

.rgc-text .product-link {
    width: fit-content;
}

.scale-company-title-section {
    background-color: #ffffff;
    padding-bottom: 160px;
}

.scale-compnay-title{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 56px;
  text-align: center;
}

.work-dtail-ss-imgs-section.lower, .work-dtail-ss-imgs.lower {
  padding-top: 0;
}

.work-detail-testimonial {
    width: 80%;
    margin: 0 auto;
}

.work-detail-testimonial-desc {
    width: 60%;
}

.work-detail-testimonial-title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 35px;
    width: 38%;
}

.work-detail-testimonial-para {
    color: #8F90A3;
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 50px;
}

.work-detail-page .work-detail-testimonial-author-info {
    align-items: center;
}

.work-detail-testimonial-author-info .article-author-img {
  height: 70px;
  width: 70px;
  margin-right: 24px;
}

.work-detail-testimonial-author-info .article-author-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.work-detail-testimonial-author-info .article-date-time {
    font-size: 16px;
    line-height: 25px;
}

.work-detail-testimonial-section .pink-dot-med {
    margin-left: 5px;
    margin-top: 9px;
}

.prev-overview-next {
    align-items: center;
}

.prev-overview-next .product-link{
  width: fit-content;
}

.perv-btn .product-link img{
  transform: rotate(180deg);
  margin-left: 0;
  margin-right: 24px;
}

.work-detail-testimonial-section {
    background-color: #ffffff;
    padding: 200px 0;
}

.work-detail-page .lets-work-togather-section{
  background: none;
  background-color: #DB9195;
}

.work-detail-page .work-togather-content label{
  color: #ffffff;
}

.work-detail-page .half-input input{
  border-bottom: 1px solid #ffffff80;
  transition: .4s ease;
}

.work-detail-page .half-input input:focus {
  border-bottom: 2px solid #FFFFFF;
}

.work-detail-page .togather-checkbox-text{
  color: #FFFFFF;
}

.work-detail-page .checkbox-inner.checked{
  background-color: #202248;
}

.white-dot-med{
  width: 3px;
  height: 3px;
  background-color: #FFFFFF;
  display: inline-block;
}



/* Footer CSS */

.footer-wrapper {
    background-color: #202248;
    padding: 120px 0 40px;
}

.footer-upper-content{

}

.footer-upper-left, .footer-upper-right {
  width: 48%;
}

.footer-upper-left {

}

.footer-links-section {
    width: 80%;
}

.footer-links {

}

.footer-link-header{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  margin-bottom: 36px;
}

.footer-links a{
  display: block;
  line-height: 25px;
    font-size: 16px;
}

.footer-mid-link {
  margin: 16px 0;
}

.monthly-insights-form{
  position: relative;
}

.common-input{
  border: 2px solid rgba(255,255,255,0.5);
  padding: 40px;
  width: 100%;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-white-arrow {
    position: absolute;
    top: calc(50% - 8.5px);
    right: 40px;
    cursor: pointer;
}

.footer-upper-content {
  margin-bottom: 133px;
}

.footer-content {

}

.footer-content-right {
    width: 90%;
}

.footer-middle-left {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    width: 38%;
}

.footer-middle-right {
    width: 16%;
}

.footer-middle-content{
  margin-bottom: 40px;
}

.footer-lower-content{
  color: #8F90A3;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

@media (min-width: 1601px) {
  .explore-link {
    right: calc( 10% - 170px )%;
  }
}

@media (min-width: 1024px) and (max-width: 1600px) {
  .rectangle-2 .our-services-block {
    padding: 0 20px;
  }
  .our-services {
    margin: 40px 80px 30px;
  }
  .work-section {
    /* max-width: 900px !important; */
    padding: 0 25px !important;
    left: 0 !important;
    right: 0 !important;
  }
  .work-type {
    /* font-size: 16px !important;
    padding: 0 12px !important; */
  }
  /* .work-explore-link {
    margin: 40px 0 0 !important;
  } */
  .contactpage-hero {
    height: 180vh !important;
  }
}

@media (min-width: 1024px) and (max-width: 1360px) {
/* 08-08-2021 Commit Ends */

  /* 06-08-2021 Commit */
  .hero {
    height: 82vw;
  }
  .hero.hero-blog{
    height: 100%;
  }
  .middle-section .col-txt-1 h3 {
    font-size: 32px;
    line-height: 44px;
  }
  .middle-section .col-txt-1 p {
    font-size: 16px;
    line-height: 24px;
  }
  .work-explore-link {
      margin-top: 80px !important;
  }
  /* 06-08-2021 Commit Ends */
  .services-btn {
    width: 300px !important;
  }

  /* 08-08-2021 Commit */
  .website-category-section {
      max-width: 900px !important;
  }
  .website-type {
      padding: 0 40px !important;
  }
  .product {
      margin: 0 6px;
  }
  /* 06-08-2021 Commit Ends */
}

@media (max-width: 1360px) {
  .services-btn {
    width: 300px !important;
  }
}

@media (min-width: 1361px) and (max-width: 1600px) {
  .hero {
    height: 62vw;
  }
  .work-explore-link {
      margin-top: 120px !important;
  }

  .hero-blog-detail {
    height: fit-content;
  }

  /* 08-08-2021 Commit */
  .website-category-section {
      max-width: 1100px !important;
  }
  .product {
      margin: 0 24px;
  }
  /* 08-08-2021 Commit Ends */
}

@media (min-width: 993px) {
  .no-d {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .no-t-m {
    display: none !important;
  }

  .navbar-toggler .icon-bar {
    width: 32px;
    background-color: #fff;
    display: block;
    height: 3px;
    margin-bottom: 5px;
  }

  .navbar-toggler .icon-bar.bar3{
    width: 25px;
    position: relative;
  }

  .header-nav-pink-dot{
    height: 3px;
    width: 3px;
    background-color: #DB9195;
    position: absolute;
    right: -7px;
    bottom: 0;
  }

  header .header-nav-list button {
    display: block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: 0;
}

.mobile-nav {
    background-color: #DB9195;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    right: -100%;
    transition: .4s ease;
    padding: 56px 32px 29px;
}

.mobile-nav.open{
  right: 0;
}

.mobile-nav-header{
  align-items: center;
  margin-bottom: 67px;
}

.mobile-nav .cart-item-count{
  background-color: #FFFFFF;
}

.mobile-nav-close{
  width: 32px;
  height: 32px;
  margin-left: 24px;
}

.mobile-nav-close img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.mobile-nav .accordion-wrapper{
  margin-left: 0;
  max-width: unset;
  border-bottom: 2px solid #ffffff80;
}

.mobile-nav .accordion, .menu-item{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
  color: #FFFFFF;
  padding: 24px 0 4px;
}

.mobile-nav-mid {
    margin-bottom: 114px;
}

.mob-header-email {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    padding-bottom: 3px;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    width: fit-content;
    margin-bottom: 24px;
}

.mob-header-lower-section .footer-middle-right{
  width: 176px;
}


}
